<div class="flex flex-col p-[40px]">
  <div class="text-[100px]">401</div>
  <div class="text-[25px]">Sorry, but you are not authorized to access this resource.</div>
  <a href="/">
    <div class="mt-[30px] px-[20px] py-[10px] w-fit text-white bg-violet-800 hover:bg-violet-900 font-semibold rounded-md">Back to Home Page</div>
  </a>
</div>