<div class="p-[20px] flex flex-col">
  <div class="w-full font-bold text-[35px]">Admin Dashboard</div>
  <div class="flex flex-col mt-[10px]">
    <a href="/admin/dashboard/manage/category" class="w-full h-fit my-[10px]">
      <div class="w-full h-full bg-gray-50 rounded-md border-[2px] border-gray-200 px-[20px] py-[10px] flex flex-row items-center hover:bg-gray-100 cursor-pointer">
        <div>
          <span class="material-symbols-outlined">category</span>
        </div>
        <h1 class="font-bold ml-[20px]">Manage Categories</h1>
      </div>
    </a>
    <a href="/admin/dashboard/admin-creation" class="w-full h-fit my-[10px]">
      <div class="w-full h-full bg-gray-50 rounded-md border-[2px] border-gray-200 px-[20px] py-[10px] flex flex-row items-center hover:bg-gray-100 cursor-pointer">
        <div>
          <span class="material-symbols-outlined">person_add</span>
        </div>
        <h1 class="font-bold ml-[20px]">Admin Creation</h1>
      </div>
    </a>
  </div>
</div>